body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana;
}

.maindiv{
    background-color:white;
    color:black;
    width: 25%;
    padding:20px;
    margin: 0 auto;
    border-radius:25px;
}
.form{
    display: table; 
    margin: 0 auto;
}
.form-input{
    display: table-row;
}
input,label{
    display: table-cell;
}
button{
    margin-top: 10px;
}

.highlight {
  background-color: yellow;
}
